button {
  background-image: linear-gradient(94deg, #a93eff, #5e40de 51%, #00b3ff);
  cursor: pointer;
  background: #9841ff;
  color: #fff !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  gap: 0.25rem !important;
  width: 200px;
  border-radius: 0.5rem;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

button:hover {
  background: linear-gradient(93.69deg, #7200ce, #4023bf);
}
